<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1007180239237-1oe1e3uedavmvmc05dc2tttlm0ojpvtv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1007180239237-1oe1e3uedavmvmc05dc2tttlm0ojpvtv</string>
	<key>API_KEY</key>
	<string>AIzaSyCLTDxW5Qjxmt8u9Dc_DYcNGFZ7MiVvjUs</string>
	<key>GCM_SENDER_ID</key>
	<string>1007180239237</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.chatapp-demo</string>
	<key>PROJECT_ID</key>
	<string>react-native-chatapp-demo</string>
	<key>STORAGE_BUCKET</key>
	<string>react-native-chatapp-demo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1007180239237:ios:1c5bee8d871858e2</string>
	<key>DATABASE_URL</key>
	<string>https://react-native-chatapp-demo.firebaseio.com</string>
</dict>
</plist>