/java/DoAn/dist/
/java/OnTapLanThuN/dist/
/java/jsf-project/nbproject/private/
/java/jsf-project/build/
/java/jsf-project/dist/
/java/hello-sturts/nbproject/private/
/java/hello-sturts/dist/
/java/hello-sturts/build/
/java/hello-sturt-1/nbproject/private/
/java/hello-sturt-1/build/
/java/hello-struts/nbproject/private/