body {
    margin: 0;
    background: linear-gradient(120deg,rgba(15, 250, 133, 0.884),rgb(14, 236, 236)) no-repeat;
   
}

header {
    background-color: lightgray;
    padding: 10px;
    font-size: 20pt;
    font-weight: bold;
    margin: 0;
    height: 40px;
    line-height: 40px;
}



.container {
    overflow: hidden;
    height: auto;
}

#sidebar {
    float: left;
    height: initial;
    width: 200px; 
}

#sidebar ul {
    padding: 0;
}

#sidebar li {
    list-style: none;
    font-size: 15pt;
    padding-bottom: 15px;
    padding-left: 20px;
    border-bottom: 1px gray solid;
    margin-bottom: 20px;
}

a {
    color: purple;
}

#main {
    border-left: 1px gray solid;
    height: inherit;
    width: calc(100% - 231px);
    padding: 15px;
    float: left;
}

.content {
    overflow: hidden;
}

.content-title {
    margin: 0px;
    font-size: 18pt;
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid blue;
}

.post {
    float: left;
    border: 1px solid gray;
    border-radius: 5px;
    max-width: 300px;
    font-size: 15pt;
    margin-right: 15px;
    margin-bottom: 15px;
}

.post-image {
    background-image: url("../img/bg_post.jpg");
    height: 150px;
    max-width: inherit;
    background-size: cover;
}

.post-title {
    color: dodgerblue;
    font-size: 18pt;
    padding: 10px;
    margin: 0px;
}

.post-content {
    font-size: 15pt;
    padding: 10px;
    margin: 0;
    text-align: justify;
}

footer {
    background-color: bisque;
    text-align: center;
    height: 70px;
    line-height: 70px;

}

.contact p,
.contact ul,
.contact ol {
    margin: 0;
}

.contact a {
    color: blue;
}